alias mercury="docker run -it -v /var/run/docker.sock:/var/run/docker.sock -v ~/Projects/mps-platform/ansible-infrastructure:/mercury --env AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} --env AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} devops/mercury"
alias chef-repo="docker run -it -v /var/run/docker.sock:/var/run/docker.sock -v ~/Projects/mps-platform/chef-repo:/chef-repo --env AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} --env AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} devops/chef-repo"
alias rdp="~/dotfiles/utils/Connect-AwsEc2Rdp.py -e"
